<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Done</title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body class="bg-light">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Password Reset Email Sent</h3></div>
                                <div class="card-body">
                                    <p>Um e-mail com instruções para redefinir sua senha foi enviado para o endereço de e-mail fornecido, caso ele exista em nosso sistema.</p>
                                    <a href="{% url 'login' %}" class="btn btn-primary btn-block">Retornar para Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
